
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color:#1c4c4f ;
    width:100%;
}


body
{
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;

}


/* navbar styling */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #1b818f);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #ff7038);
}

/* navbar styling */
.max-width{
    max-width: 1300px !important;
    padding: 0 80px !important;
    margin: auto !important;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

.navbar{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1100;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #ffffff;
}
.navbar .max-width{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.navbar .logo a{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}
.navbar.sticky .logo a{
    color: #121212;
}
.navbar .logo a span{
    color: #ff7038;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #ff7038;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-weight: 600;
}
.navbar .menu li a{
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a{
    color: #ff8000;
}
.navbar .menu li a:hover{
    color: #ffcea7;
}
.navbar.sticky .menu li a:hover{
    color: #a96349;
}
/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #ff703e;
    right: 30px;
    bottom: 10px;
    text-align: center !important;
    line-height: 45px !important;
    color: #fff;
    z-index: 9999;
    font-size: 30px !important;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer !important;
    opacity: 0;
    pointer-events: none !important;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto !important;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* Navbar End */


/* Article-flask Start */
.article-flask{
    position: relative;
    background: #ffffff;

}


.flask-container {
    padding: 80px 30px 20px 30px;
}


.flask-container h1{
    position: relative;
    padding: 0 0 45px 0;
    font-size: 6em;
    margin-left: 70px;
    font-weight: 600;
    text-align: center;
}

.flask-container p{
    position: relative;
    font-size: 2rem;
    max-width: 100%;
    padding: 0 370px 25px 0;
    margin-left: 250px;

}

.flask-container p span{
    color: #ff8f33 ;
    font-weight: 900 ;
}

.flask-container h3{
    margin-left: 150px;
    font-size: 3.7rem;
    padding: 12px;
}

.flask-container h3 span{
    color: #ff8f33;
}

.flask-container a{
    color: #ffc493;
}

.flask-container .logo{
    position: relative;
    display: block;
    left: 20%;
    max-width: 50%;
}

.flask .banner-logo{
    align-items: center;
    display: none;
    padding: 0;
    margin: 0 auto;
    z-index: 100
}

.flask-container .cover{
    position: relative;
    align-items: center;
}

.flask-container p,
.flask-container h1{
    color: #000000;
}

.flask::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to top, rgb(255, 255, 255), transparent);
    z-index: 1000;
}
/* Article-flask End */


/*Flask button Start*/
.btn-flask
{
    display: flex;
    margin-top: 180px;
    margin-right: 50px;
    flex-wrap: wrap;
}
.btn-flask a {
    position: relative;
    display: inline-block;
    padding: 9px 28px;
    border: 2px solid #ff8800;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    Letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;

}

.btn-flask a span{
    position: relative;
    z-index: 100;
    font-size: 20px;
}

.btn-flask a:hover
{
    transition-delay: 1.5s;
    color: #ffffff;
    box-shadow: 0 0 10px #ff8800,
                0 0 20px #ff8800,
                0 0 40px #ff8800,
                0 0 80px #ff8800 ,
                0 0 160px #ff8800;

}
.btn-flask a:nth-child(2)
{
    filter: hue-rotate(80deg);
}
.btn-flask a::before {
    content: '';
    position: absolute;
    Left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #ff8800;
    box-shadow: 5px -8px 0 #ff8800,
                5px 8px 0 #ff8800;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}
.btn-flask a:hover::before{
    width: 60%;
    height: 110%;
    Left: -2px;
    box-shadow: 5px 0 0 #ff8800,
                5px 0 0 #ff8800;
    transition-delay: 0s,0.5s,1s,1s;
}

.btn-flask a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #ff8800;
    box-shadow: -5px -8px 0 #ff8800,
                -5px 8px 0 #ff8800;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}
.btn-flask a:hover::after{
    width: 60%;
    height: 110%;
    right: -2px;

    box-shadow: -5px 0 0 #ff8800,
                -5px 0 0 #ff8800;
    transition-delay: 0s,0.5s,1s,1s;
}
/*Flask button End*/

/* textbox-flask Start */

deckgo-highlight-code{
    position: relative;
    width: 800px;
    padding: 0;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 30px;
    text-transform: lowercase;
}

/* textbox-flask End */


/* footer start */

.footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    opacity: .9999999;

}
.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.footer .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}
.footer .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer .socials li{
    margin: 0 10px;
}
.footer .socials a{
    text-decoration: none;
    color: #fff;
}
.footer .socials a i{
    font-size: 2rem;
    transition: color .4s ease;

}
.footer .socials a:hover i{
    color: aqua;
}

.footer .footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* Loader */

.loader{
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    background: #ff8800;
     background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.loader span{
    width: 50px;
    height: 300px;
    margin: 0 20px;
    background: #ff8800 ;
    animation: animate 1.4s linear infinite;
}

.loader span:nth-child(1){
    animation-delay: 0s;
}
.loader span:nth-child(2){
    animation-delay: 0.2s;
}
.loader span:nth-child(3){
    animation-delay: 0.4s;
}
.loader span:nth-child(4){
    animation-delay: 0.6s;
}
.loader span:nth-child(5){
    animation-delay: 0.8s;

}.loader span:nth-child(6){
    animation-delay: 1s;
}
.loader span:nth-child(7){
    animation-delay: 1.2s;
}



@keyframes animate {
    0%{
        box-shadow: 0 0 0 rgb(0,0,0,.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50%{
        box-shadow: 0 20px 050px rgb(0,0,0,.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);

    }
    100%{
        box-shadow: 0 0 0 rgb(0,0,0,.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}

/* Loader end */


@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .navbar .max-width .menu-btn{
        padding: 0 40px;
        right: 100%;
    }
}




@media (max-width: 850px) {
    .btn-flask{
        display: none;
    }

    .scroll-down{
        align-items: center;
         height: 80px;
         width: 50px;
         border: 3.7px solid #ffc292;
         position: absolute;
         bottom: 50px;
         border-radius: 50px;
         cursor: pointer;
    }

    .scroll-down::before,
    .scroll-down::after{
        align-items: center;
         content: '';
         position: absolute;
         top: 20%;
         left: 50%;
         border: 2px solid #ffbe88;
         height: 10px;
         width: 10px;
         transform: translate(-50%, -100%) rotate(45deg);
         border-top: transparent;
         border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }
    .scroll-down::after {
        top: 30%;
        animation-delay: .3s;
    }

    @keyframes scroll-down{
      0% {
        opacity: 0;
        }
     30% {
         opacity: 1;
     }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
    }
}


@media (max-width: 320px) {

    html{
        max-width: 100%;
    }

    .article-flask .flask-container h3 span{
        word-spacing: 0px;
    }

     .navbar .max-width .menu-btn{
           position: relative;
         right: 57px;
    }

    .navbar .max-width .logo{
       position: relative;
       right: 57px;

    }

}


@media (min-width:100px) and (max-width: 1281px){
  .article-flask .flask-container h1{
        margin: 0 auto;
        overflow-wrap:break-word;
    }

    .flask-container .row .left img{
        display: none;
    }

    .flask-container .row .right p{
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
    }


    .article-flask .flask-container .gif{
        display: block;
        align-items: center;
        padding: 0;
        max-width: 100%;
        margin: 0 auto;
    }

    .article-flask .flask-container .cover{
        width: 70em;
        position: relative;
        align-items: center;
        display: block;
        margin: 0 auto;
    }

    .article-flask .flask-container p{
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .flask-container .row{
        display: flex;
        margin: 0 auto;
        padding: 0;
        position: relative;
        max-width: 100%;

    }


    .article-flask .flask-container img{
        max-width: 100%;
        align-items: center;
        padding: 10px;
    }



    .article-flask .flask-container .logo{
        padding: 0;
        max-width: 100%;
        left: 0%;
    }


    .article-flask .flask-container h3{
        padding: 0;
        margin: 0.5em 0 0.5em;
        width: 100%;
        left: 0%;
        font-size: 4em;
        white-space: pre-line;
        font-weight: 1000;
    }


    deckgo-highlight-code{
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

}



@media (min-width:1281px) {
    .article-flask .flask-container .gif{
        display: none;
    }

    .article-flask .flask-container .cover{
        position: relative;
        align-items: center;
        left: 35%;
        width: 500px;
        height: 450px;
    }

    .flask-container .image{
        position: relative;
        align-items: center;
        display: block;
        margin: 0 auto;

    }

}


@media (orientation: portrait) and (max-width: 850px){
    .flask .container #scene .layer.none{
        display: none !important;
    }

    .flask .banner-logo{
        display: block!important;
        width: 24em;
        height: auto;
        margin-top: 100px;
        animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}
}



